.btn-search,
.btn-add,
.btn-primary {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.btn-search {
    font-weight: 900;
    width: 150px;
    border-radius: 20px;
    color: mediumturquoise;
    border: 2px solid mediumturquoise;
    background-color: #fff;
}

.btn-add {
    width: 40px;
    background-color: mediumaquamarine;
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 20px;

}

.btn-primary {
    width: 150px;
    background-color: royalblue;
    color: #fff;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}